<h1>Aareon Angular Test</h1>
<form>
  <div>
    <div>
      <label>Title</label>
      <select>
        <option value="">-- Select an option --</option>
        <!-- TODO: add titles to dropdown -->
      </select>
    </div>
    <div>
      <label>First name</label>
      <input type="text" placeholder="First name"/>
    </div>
    <div>
      <label>Last name</label>
      <input type="text" placeholder="Last name"/>
    </div>
    <!-- TODO: add error message -->
    <span></span>
    <div>
      <input type="checkbox"/>
      <label>I accept the terms & conditions</label>
    </div>
    <div>
      <button>Submit</button>
    </div>
  </div>
</form>